div(class="heading")
    div(class="logo_text")
        h1 w3schools
            span .com
            p THE WORLD'S LARGEST WEB DEVELOPER SITE

        
            
            
        
            
