div(class="left_side_bar")
            div(class="container")    
                h1 CSS Tutorial
                a(href="#") CSS HOME
                a(href="#") CSS Introduction
                a(href="#") CSS Syntax
                a(href="#") CSS How to 
                a(href="#") CSS Selector
                a(href="#") CSS Colors
                a(href="#") CSS Background
                a(href="#") CSS Margin
                a(href="#") CSS Borders
                a(href="#") CSS Padding
                a(href="#") CSS Height/Width
                a(href="#") CSS Box model 
                a(href="#") CSS Out line
                a(href="#") CSS Text
                a(href="#") CSS Font
                a(href="#") CSS Icons
                a(href="#") CSS Lists
                a(href="#") CSS Table
                a(href="#") CSS Display
                a(href="#") CSS Max-width
                a(href="#") CSS Position
                a(href="#") CSS Overflow
                a(href="#") CSS Float
                a(href="#") CSS Innerline-block
                


         

        


        
            
            
        
            
            
