div(class="nav_bar")
                //- a(href="/page2" title="menu" ) MENU
                a(href="#" title="home")
                    i(class="fas fa-home")
                a(href="#" title="css") CSS
                a(href="#" title="javascript") JAVASCRIPT
                a(href="#" title="javascript") SQL
                a(href="#" title="more") MORE
                a(href="#" title="refrences") REFRENCES
                a(href="#" title="examples") EXAMPLES
                a(href="#" title="more") MORE
                a(href="#" title="search")
                    i(class="fas fa-search")
                a(href="#" title="search")
                    i(class="fas fa-search")
                a(href="#" title="search")
                    i(class="fas fa-search")                    
        
            
//-   left side bar 


