doctype html
html
    head
        title=pageTitile
    style
        include ./css_layout/heading.css
    body
        div(class="heading")
            a(href="/page2" title="menu") MENU
            a(href="#" title="home") HOME
            a(href="#" title="css") CSS
            a(href="#" title="javascript") JAVASCRIPT
            a(href="#" title="more") MORE
            a(href="#" title="refrences") REFRENCES
            a(href="#" title="examples") EXAMPLES
            a(href="#" title="more") MORE
            a(href="#" title="search") SEARCH
        h1 this is page 2
            
        
            
