doctype html
html
    head
        title=pageTitile
    script(src="https://kit.fontawesome.com/a076d05399.js")
    
    style
        include ./css_layout/website_layout.css
        //heading
        include ./css_layout/heading.css 
        //navigation bar        
        include ./css_layout/nav_bar.css
        //left side bar
        include ./css_layout/left_side_bar.css
        //footer
        include ./css_layout/footer.css

    body
        //- headiing
        include ./heading.pug
        //-navigation bar
        include ./nav_bar.pug
        //-left side bar
        include ./left_side_bar.pug  
        //-footer
        include ./footer.pug     

        


        
            
            
        
            
            
